# Compiled binaries
*.o
*.out
*.exe

# CUDA compiled files (executables without extension)
01-cuda-cpp/add_cpu
01-cuda-cpp/add_gpu_v1
01-cuda-cpp/add_gpu_v2
01-cuda-cpp/add_gpu_v3
01-cuda-cpp/check_error_type
01-cuda-cpp/error_handling
01-cuda-cpp/explicit_memory
01-cuda-cpp/gpu_init
01-cuda-cpp/optimal_blocksize
01-cuda-cpp/wrong_arch
01-cuda-cpp/show_threads

# Jupyter checkpoints
.ipynb_checkpoints/

# Profiler reports
*.nsys-rep
*.sqlite
